<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>



<nav class="navbar bg-body-secondary mb-5">
    <div class="container">
        <div class="col-8">
            <a class="navbar-brand" href="#">
                <img src="/favicon.ico" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
                <span class="fs-5 ms-3">MJL Apps</span>
            </a>
        </div>

        <div class="col-4">
            <div class="row justify-content-evenly">
                <a class="btn btn-outline-primary col-4" type="button" th:href="@{/login}">Login</a>
                <a class="btn btn-outline-primary col-4" type="button" th:href="@{/register}">Account Services</a>
            </div>
        </div>
    </div>
</nav>



<div class="container">



    <div class="row">
        <div class="col-8">
            <h3 class="mb-0">Open Authorization Service</h3>
            <h6>With OpenID Connect</h6>
        </div>
        <div class="col-4 align-content-end">
            <p class="text-end">An <a href="https://github.com/marcuslull/Auth">open source</a> project by Marcus Lull</p>
        </div>
    </div>



    <hr class="mb-5">



    <div th:if="${isSuccess}" class="text-center">
        <h4 class="text-center text-success mb-5">Email confirmed - please log in to continue</h4>
        <a class="btn btn-outline-primary" type="button" href="/login">Login</a>
    </div>

    <div th:unless="${isSuccess}"  class="text-center">
        <h4 class="text-center text-danger mb-5">Validation link expired - please check your email for a new one</h4>
        <p>If the issue persists, please re-register your account</p>
    </div>



</div>
</body>
</html>